<div class='text-center'>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

        <main role="main" class="inner cover">
            <img class="mb-4" src="../../../assets/portada.png" alt="" width="200" height="200">
            <h1 class="cover-heading">Sistema de gestión escolar</h1>
            <p class="lead">Escuela Oficial Urbana Mixta, ubicado en Sector I manzana 82 asentamiento Nuevo Amanecer, Z 21 Ciudad Capital, Guatemala</p>
        </main>

        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p>Pagina de <a href="https://getbootstrap.com/">Facebook</a></p>
            </div>
        </footer>
    </div>
</div>
