<button type="button" class="btn btn-success" data-toggle="modal" data-target="#nuevo">
  <i class="fas fa-plus-circle fa-fw"></i>&nbsp; Nueva Materia
</button>
<br><br>
<table class="table table-sm table-responsive-sm table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Contenido</th>
        <th scope="col">Actualizar</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let item of listMateria; index as i;">
        <th scope="row"><span class="badge badge-primary badge-pill">{{i+1}}</span></th>
        <td>{{item.nombre}}</td>
        <td>{{item.contenido}}</td>
        <td>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#update" (click)="ObtenerMateria(item)">
              <i class="fas fa-pencil-alt"></i>
            </button>
        </td>
        <td>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#eliminar" (click)="ObtenerMateria(item)">
              <i class="far fa-trash-alt"></i>
            </button>
        </td>
      </tr>
    </tbody>
  </table>

<!--MODAL PARA CREAR UNA NUEVA MATERIA-->
    <div class="modal" tabindex="-1" id="nuevo">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">Nueva Materia</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                      <input type="text" [(ngModel)]="newMateria.nombre" class="form-control" name="name" placeholder="Ingrese el nombre de la materia..." required>
                    </div>
                    <div class="form-group">
                      <input type="text" [(ngModel)]="newMateria.contenido" class="form-control" name="description" placeholder="Ingrese su contenido de la materia...">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal" (click)="CreateMateria()">Guardar</button>
            </div>
        </div>
        </div>
    </div>

<!-- MODAL PARA ACTUALIZAR UNA MATERIA-->
    <div class="modal" tabindex="-1" id="update">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">Actualización de materia</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                      <label for="formGroupExampleInput">Nombre</label>
                      <input type="text" class="form-control" name="nameUpdate" [(ngModel)]="updateMateria.nombre" >
                    </div>
                    <div class="form-group">
                      <label for="formGroupExampleInput">Contenido</label>
                      <input type="text" class="form-control" name="descriptionUpdate" [(ngModel)]="updateMateria.contenido" >
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="UpdateMaterial()">Actualizar</button>
            </div>
        </div>
        </div>
    </div>

<!--MODAL PARA ADVERTIR AL USUARIO QUE VA A ELIMINA UNA MATERIA -->
    <div class="modal" tabindex="-1" id="eliminar">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">Eliminación de materia</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body text-center">
            <h4>Materia a eliminar</h4>
            <p>{{updateMateria.nombre}}</p>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="DeleteMateria()">Eliminar</button>
            </div>
        </div>
        </div>
    </div>
