<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="#"><img src="../../../assets/icono.ico">&nbsp;EMHG</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown" >
            <ul class="navbar-nav ml-auto" *ngIf="!logueado">
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/portada" routerLinkActive="active">
                        <i class="fas fa-home icono"></i>Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/login" routerLinkActive="active">
                        <i class="fas fa-sign-in-alt icono"></i> Ingresar
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto" *ngIf="logueado">
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/ciclos" routerLinkActive="active">
                        <i class="fab fa-delicious icono"></i>Ciclos
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/inscripcion" routerLinkActive="active">
                        <i class="fas fa-users icono"></i>Alumnos
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-book icono"></i>Materias
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" routerLink="/materias">Listado</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" routerLink="/asigmateria">Asignar</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/personal" routerLinkActive="active">
                        <i class="fas fa-male icono"></i>Docentes
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/secciones" routerLinkActive="active">
                        <i class="fas fa-puzzle-piece icono"></i>Secciones
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/grados" routerLinkActive="active">
                        <i class="fas fa-graduation-cap icono"></i>Grados
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/inscripcion_alumno" routerLinkActive="active">
                        <i class="fas fa-graduation-cap icono"></i>Inscripcion Alumno
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/aspectos" routerLinkActive="active">
                        <i class="far fa-sticky-note"></i> Aspectos
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/colores" routerLinkActive="active">
                        <i class="far fa-sticky-note"></i> Colores
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="salir()">
                        <i class="fas fa-sign-out-alt icono"></i>Salir
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>