<button type="button" class="btn btn-success" data-toggle="modal" data-target="#nuevo">
  <i class="fas fa-plus-circle fa-fw"></i>&nbsp; Nueva Asignación
</button>
<br><br>

<div class="row">
  <div class="col-md-4 p-4" *ngFor="let grado of grados">
      <div class="card card-photo" >
          <div class="card-header">
              {{grado.nombre_grado}}
          </div>
          <div class="card-body">
            <ul class="list-group mt-4">
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
                *ngFor="let materia of grado.materias"
                >
                {{materia.nombre}}
                <span
                  class="text-danger cursor-hover"
                  data-toggle="modal"
                  data-target="#eliminar"
                  (click)="ObtenerAsig(grado.grado,materia.materia)"
                  >
                  <i class="far fa-trash-alt"></i>
                </span>
              </li>
            </ul>
          </div>
      </div>
  </div>
</div>


<!--MODAL PARA ADVERTIR AL USUARIO QUE VA A ELIMINA UNA ASIGNACIÓN -->
<div class="modal" tabindex="-1" id="eliminar">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title">Eliminación</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <div class="modal-body text-center">
      <p>Asignación a eliminar</p>
      <h4>{{datosAsig.grado + ' ' + datosAsig.materia}}</h4>
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteAsig()">Eliminar</button>
      </div>
  </div>
  </div>
</div>


<!--MODAL PARA CREAR UNA NUEVA ASIGNACIÓN-->
<div class="modal" tabindex="-1" id="nuevo">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title">Asignación</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <div class="modal-body">
          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="idioma">Grados</label>
                <select name="" id="" class="form-control">
                  <option *ngFor="let grad of grados" value="{{grad.grado}}">{{grad.nombre_grado}}</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="idioma">Materias</label>
                <select name="" id="" class="form-control">
                  <option *ngFor="let mat of materias" value="{{mat.materia}}">{{mat.nombre}}</option>
                </select>
              </div>
            </div>
          </form>
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-success" data-dismiss="modal" (click)="CreateAsig()">Guardar</button>
      </div>
  </div>
  </div>
</div>
