
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#nuevo">
    <i class="fas fa-plus-circle fa-fw"></i>&nbsp; Nuevo ciclo
</button>
<br><br>
<table class="table table-sm table-responsive-sm table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Ciclo Escolar</th>
        <th scope="col">Actualizar</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let item of listaCiclo">
        <th scope="row">{{item.ciclo}}</th>
        <td>{{item.anio}}</td>

        <td>
            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#cambiar" 
            (click)="Obtener_Ciclo(item)">
            <i class="fas fa-pencil-alt"></i>
            </button>
        </td>
        <td>
            <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#eliminar"
            (click)="Obtener_Ciclo(item)" >
            <i class="far fa-trash-alt"></i>
            </button>
        </td>
      </tr>
    </tbody>
  </table>

<!--MODAL PARA CREAR UN NUEVO CICLO ESCOLAR-->
    <div class="modal" tabindex="-1" id="nuevo">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">Creacion de un Ciclo Escolar</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                    <label for="formGroupExampleInput">Ciclo escolar</label>
                    <input type="number" class="form-control" name="year" [(ngModel)]="newCiclo.anio">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="Create_Ciclo()">Save changes</button>
            </div>
        </div>
        </div>
    </div>

<!-- MODAL PARA ACTUALIZAR CICLO ESCOLAR, TALVEZ NO ES NECESARIO-->
    <div class="modal" tabindex="-1" id="cambiar">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">Actualizacion de un ciclo escolar</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                    <label for="formGroupExampleInput">Ciclo escolar</label>
                    <input type="number" class="form-control" name="year" [(ngModel)]="cicloOperacional.anio">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="Update_Game()">Guardar changes</button>
            </div>
        </div>
        </div>
    </div>

<!--MODAL PARA ADVERTIR AL USUARIO QUE VA A ELIMINA UN CICLO ESCOLAR-->
    <div class="modal" tabindex="-1" id="eliminar">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">Cuidado se eliminara el ciclo seleccionado</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            <p>ciclo escolar a eliminar</p>
            <p>{{cicloOperacional.anio}}</p>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="Delete_Game()">Eliminar</button>
            </div>
        </div>
        </div>
    </div>

