
<!--Boton para buscar-->

<div class="row">
    <div class="col-md-5">
      <form>
        <div class="form-group">
          <select class="form-control" name="seleccion" [(ngModel)] = "buscar.materia">
            <option selected>Seleccione el precio</option>
            <option [value] = "item.materia" *ngFor="let item of lista_materias">{{item.nombre}}</option>
          </select>      
        </div>
        <div class="form-group">
          <input type="number" class="form-control" name='bloque' placeholder="Bloque" [(ngModel)] ="buscar.bloque">            
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block" >Buscar
          <i class="fas fa-search icono"></i>
      </button>    
      </div>
    </form>
    </div>
</div>
<br/>
<table class="table table-sm table-responsive-sm table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Zona proyecto</th>
        <th scope="col">Nota final</th>
        <th scope="col">Promedio</th>
        <th scope="col">Nombre Seccion</th>
        <th scope="col">Nombre Alumno</th>
        <th scope="col">Nombre Materia</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let item of list_resultados; index as i;">
        <th scope="row"><span class="badge badge-primary badge-pill">{{i+1}}</span></th>
        <td>{{item.zona_proyecto}}</td>
        <td>{{item.nota_final}}</td>
        <td>{{item.promedio}}</td>
        <td>{{item.nombreSeccion}}</td>
        <td>{{item.nombreAlumno}}</td>
        <td>{{item.nombreMateria}}</td>
      </tr>
    </tbody>
  </table>

