<button type="button" class="btn btn-success" data-toggle="modal" data-target="#nuevo">
  <i class="fas fa-user-plus fa-fw"></i>&nbsp; Nuevo Alumno
</button>
<br><br>
<table class="table table-sm table-responsive-sm table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Dirección</th>
        <th scope="col">Telefono</th>
        <th scope="col">CUI</th>
        <th scope="col">Nacionalidad</th>
        <th scope="col">Código</th>
        <th scope="col">Encargado</th>
        <th scope="col">Fecha Nacimiento</th>
        <th scope="col"><i class="fas fa-ellipsis-v"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let item of listMateria; index as i;">
        <th scope="row"><span class="badge badge-primary badge-pill">{{i+1}}</span></th>
        <td>{{item.nombre}}</td>
        <td>{{item.apellido}}</td>
        <td>{{item.direccion}}</td>
        <td>{{item.telefono}}</td>
        <td>{{item.cui}}</td>
        <td>{{item.nacionalidad}}</td>
        <td>{{item.codigo_personal}}</td>
        <td>{{item.encargado}}</td>
        <td>{{item.fecha_nacimiento | date:'mediumDate'}}</td>
        <td>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#update" (click)="ObtenerAlumno(item)">
            <i class="fas fa-pencil-alt"></i>
          </button>
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#eliminar" (click)="ObtenerAlumno(item)">
            <i class="far fa-trash-alt"></i>
          </button>
        </td>
      </tr>
    </tbody>
</table>

<!--MODAL PARA CREAR UN NUEVO ALUMNO-->
    <div class="modal" tabindex="-1" id="nuevo">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">Nuevo Usuario</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="nombre">Nombre</label>
                      <input type="text" [(ngModel)]="newAlumno.nombre" class="form-control" name="name" required>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="apellidos">Apellidos</label>
                      <input type="text" [(ngModel)]="newAlumno.apellido" class="form-control" name="lastName" required>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="fecha">Fecha Nacimiento</label>
                      <input type="date" class="form-control" name="fecha" [(ngModel)]="newAlumno.fecha_nacimiento" >
                    </div>
                    <div class="form-group col-md-6">
                      <label for="telefono">Telefono</label>
                      <input type="number" [(ngModel)]="newAlumno.telefono" class="form-control" name="phone"  >
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="codper">Código personal</label>
                      <input type="text" [(ngModel)]="newAlumno.codigo_personal" class="form-control" name="id" required>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="nomen">Nombre Encargado</label>
                      <input type="text" [(ngModel)]="newAlumno.encargado" class="form-control" name="encargado" >
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="cui">CUI</label>
                      <input type="number" [(ngModel)]="newAlumno.cui" class="form-control" name="id" required>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="codper">Nacionalidad</label>
                      <input type="text" [(ngModel)]="newAlumno.nacionalidad" class="form-control" name="nacionalidad" >
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="direc">Dirección</label>
                    <input type="text" [(ngModel)]="newAlumno.direccion" class="form-control" name="adress" >
                  </div>
                </form>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal" (click)="CreateAlumno()">Guardar</button>
            </div>
        </div>
        </div>
    </div>

<!-- MODAL PARA ACTUALIZAR UN USUARIO-->
    <div class="modal" tabindex="-1" id="update">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">Actualización de alumno</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <input type="text" [(ngModel)]="updateAlumno.nombre" class="form-control" name="name" >
                  </div>
                  <div class="form-group col-md-6">
                    <input type="text" [(ngModel)]="updateAlumno.apellido" class="form-control" name="lastName" >
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <input type="text" class="form-control" name="fecha" [(ngModel)]="updateAlumno.fecha_nacimiento" placeholder="{{updateAlumno.fecha_nacimiento| date:'mediumDate'}}">
                  </div>
                  <div class="form-group col-md-6">
                    <input type="number" [(ngModel)]="updateAlumno.telefono" class="form-control" name="phone"  >
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <input type="text" [(ngModel)]="updateAlumno.codigo_personal" disabled class="form-control" name="id"  required >
                  </div>
                  <div class="form-group col-md-6">
                    <input type="text" [(ngModel)]="updateAlumno.encargado" class="form-control" name="encargado"  >
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <input type="number" [(ngModel)]="updateAlumno.cui" class="form-control" disabled name="id"  required>
                  </div>
                  <div class="form-group col-md-6">
                    <input type="text" [(ngModel)]="updateAlumno.nacionalidad" class="form-control"  name="nacionalidad"  >
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" [(ngModel)]="updateAlumno.direccion" class="form-control" name="adress"  >
                </div>
              </form>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="UpdateAlumno()">Actualizar</button>
            </div>
        </div>
        </div>
    </div>

<!--MODAL PARA ADVERTIR AL USUARIO QUE VA A ELIMINA UNA MATERIA -->
    <div class="modal" tabindex="-1" id="eliminar">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">Eliminación de alumno</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body text-center">
            <p>Usuario a eliminar</p>
            <h4>{{updateAlumno.nombre + ' ' + updateAlumno.apellido}}</h4>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="DeleteAlumno()">Eliminar</button>
            </div>
        </div>
        </div>
    </div>
