<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#nuevo" id="nuevo_insc">
  <i class="fas fa-plus-circle fa-fw"></i>&nbsp; Nueva Inscripción
</button>
<br><br>
<!--Tabla para mostrar los grados actuales-->

<table class="table table-sm table-responsive-sm table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Fecha</th>
      <th scope="col">Alumno</th>
      <th scope="col">Sección</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let item of inscripciones; index as i">
      <th scope="row"><span class="badge badge-primary badge-pill">{{item.fecha | date:'mediumDate'}}</span></th>
      <th scope="row"><span class="badge badge-primary badge-pill">{{item.alumno}}</span></th>
      <td>{{item.seccion}}</td>
    </tr>
  </tbody>
</table>

<!-- MODAL PARA LA CREACION DE GRADOS -->
<div class="modal" tabindex="-1" id="nuevo">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Inscripción</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-row ">
          <div class="form-group col-md-6">
              <label for="idioma">Alumno</label>
              <select name="" id="alumno_n" class="form-control" [(ngModel)]="idAlumno">
                <option *ngFor="let alum of alumnos" value="{{alum.alumno}}">{{alum.nombre}}</option>
              </select>
          </div>
          <div class="form-group col-md-6">
              <label for="seccion">Sección</label>
              <select name="" id="seccion" class="form-control" [(ngModel)]="idSeccion">
                <option *ngFor="let sec of secciones" value="{{sec.seccion}}">{{sec.nombre}}</option>
              </select>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button id="btnGuardar" type="button" class="btn btn-success" data-dismiss="modal" (click)="saveInscripcion()">Guardar</button>
      </div>
    </div>
  </div>
</div>
