<button type="button" class="btn btn-success" data-toggle="modal" data-target="#nuevo">
    <i class="fas fa-plus-circle fa-fw"></i>&nbsp; Nuevo Grado
</button>
<br><br>
<!--Tabla para mostrar los grados actuales-->

<table class="table table-sm table-responsive-sm table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre Grado</th>
        <th scope="col">Actualizar</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let item of listaGrado; index as i">
        <th scope="row"><span class="badge badge-primary badge-pill">{{item.grado}}</span></th>
        <td>{{item.nombre_grado}}</td>
        <td>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#update" >
              <i class="fas fa-pencil-alt"></i>
            </button>
        </td>
        <td>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#eliminar" >
              <i class="far fa-trash-alt"></i>
            </button>
        </td>
      </tr>
    </tbody>
  </table>
