<button type="button" class="btn btn-success" data-toggle="modal" data-target="#nuevo">
    <i class="fas fa-plus-circle fa-fw"></i>&nbsp; Nueva Seccion
  </button>
  <br><br>
  <table class="table table-sm table-responsive-sm table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Cliclo</th>
          <th scope="col">Actualizar</th>
          <th scope="col">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let item of listSecciones; index as i;">
          <th scope="row"><span class="badge badge-primary badge-pill">{{i+1}}</span></th>
          <td>{{item.nombre}}</td>
          <td>{{item.ciclo}}</td>
          <td>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#update" (click)="ObtenerSeccion(item)">
                <i class="fas fa-pencil-alt"></i>
              </button>
          </td>
          <td>
              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#eliminar" (click)="ObtenerSeccion(item)">
                <i class="far fa-trash-alt"></i>
              </button>
          </td>
        </tr>
      </tbody>
    </table>
  
  <!--MODAL PARA CREAR UNA NUEVA SECCION-->
      <div class="modal" tabindex="-1" id="nuevo">
          <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
              <h5 class="modal-title">Nueva Seccion</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
              </div>
              <div class="modal-body">
                  <form>
                      <div class="form-group">
                        <input type="text" [(ngModel)]="newSeccion.nombre" class="form-control" name="name" placeholder="Ingrese el nombre de la seccion..." required>
                      </div>
                      <div class="form-group">
                        <label for="formGroupExampleInput">Personal</label>
                        <select  id="sel" (change)="getPersonal($event.target.value)">
                          <option *ngFor = "let item of resultadoPersonal" value="{{item.personal}}" >{{item.nombre}}  {{item.apellido}}
                          </option>
                       </select>
                      </div>
                      <div class="form-group">
                        <label for="formGroupExampleInput">Grado</label>
                        <select  id="sel" (change)="getGrado($event.target.value)">
                          <option *ngFor = "let item of resultadoGrado" value="{{item.grado}}" >{{item.nombre}} 
                          </option>
                       </select>
                      </div>
                      <div class="form-group">
                        <label for="formGroupExampleInput">Ciclo</label>
                        <select  id="sel" (change)="getCiclo($event.target.value)">
                          <option *ngFor = "let item of resultadoCiclo" value="{{item.ciclo}}" >{{item.year}} 
                          </option>
                       </select>
                      </div>
                  </form>
              </div>
              <div class="modal-footer">
              <button type="button" class="btn btn-success" data-dismiss="modal" (click)="CreateSeccion()">Guardar</button>
              </div>
          </div>
          </div>
      </div>
  
  <!-- MODAL PARA ACTUALIZAR UNA SECCION-->
      <div class="modal" tabindex="-1" id="update">
          <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
              <h5 class="modal-title">Actualización de Seccion</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
              </div>
              <div class="modal-body">
                  <form>
                      <div class="form-group">
                        <label for="formGroupExampleInput">Nombre</label>
                        <input type="text" class="form-control" name="nameUpdate" [(ngModel)]="updateSeccion.nombre" >
                      </div>
                      <div class="form-group">
                        <label for="formGroupExampleInput">Personal</label>
                        <select  id="sel" (change)="getPersonal($event.target.value)">
                          <option *ngFor = "let item of resultadoPersonal" value="{{item.personal}}" >{{item.nombre}}  {{item.apellido}}
                          </option>
                       </select>
                      </div>
                      <div class="form-group">
                        <label for="formGroupExampleInput">Grado</label>
                        <select  id="sel" (change)="getGrado($event.target.value)">
                          <option *ngFor = "let item of resultadoGrado" value="{{item.grado}}" >{{item.nombre}} 
                          </option>
                       </select>
                      </div>
                      <div class="form-group">
                        <label for="formGroupExampleInput">Ciclo</label>
                        <select  id="sel" (change)="getCiclo($event.target.value)">
                          <option *ngFor = "let item of resultadoCiclo" value="{{item.ciclo}}" >{{item.year}} 
                          </option>
                       </select>
                      </div>
                  </form>
              </div>
              <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="UpdateSeccion()">Actualizar</button>
              </div>
          </div>
          </div>
      </div>
  <!--MODAL PARA ADVERTIR AL USUARIO QUE VA A ELIMINA UNA SECCION -->
      <div class="modal" tabindex="-1" id="eliminar">
          <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
              <h5 class="modal-title">Eliminación de Seccion</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
              </div>
              <div class="modal-body text-center">
              <h4>Seccion a eliminar</h4>
              <p>{{updateSeccion.nombre}}</p>
              <p>Grado: {{updateSeccion.grado}}</p>
              </div>
              <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="DeleteSeccion()">Eliminar</button>
              </div>
          </div>
          </div>
      </div>
