<label>Materia</label>
<select  id="sel" (change)="change()" class="form-control" [(ngModel)]="calificacion.materia">
  <option value=-1 >Materia</option>
  <option *ngFor = "let item of materias" value="{{item.materia}}" >{{item.nombre}}</option>
</select>
<label>Bloque</label>
<select  id="sel" (change)="change()" [(ngModel)]="calificacion.bloque" >
  <option value=1 >Bloque 1</option>
  <option value=2 >Bloque 2</option>
  <option value=3 >Bloque 3</option>
  <option value=4 >Bloque 4</option>
</select>
<br><br>
<table class="table table-sm table-responsive-sm table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">CUI</th>
        <th scope="col">Zona</th>
        <th scope="col">Proyecto</th>
        <th scope="col">Ingresar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let item of alumnos; index as i;">
        <th scope="row"><span class="badge badge-primary badge-pill">{{i+1}}</span></th>
        <td>{{item.nombre}}</td>
        <td>{{item.apellido}}</td>
        <td>{{item.cui}}</td>
        <td>{{item.apellido}}</td>
        <td>{{item.apellido}}</td>
        <td>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#update" (click)="ObtenerSeccion(item)">
              <i class="fas fa-pencil-alt"></i>
            </button>
        </td>
      </tr>
    </tbody>
  </table>

<!--MODAL PARA CREAR UNA NUEVA SECCION-->
    <div class="modal" tabindex="-1" id="nuevo">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">Nueva Seccion</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                      <input type="text" [(ngModel)]="newSeccion.nombre" class="form-control" name="name" placeholder="Ingrese el nombre de la seccion..." required>
                    </div>
                    <div class="form-group">
                      <label for="formGroupExampleInput">Personal</label>
                      <select  id="sel" (change)="getPersonalN($event.target.value)" class="form-control">
                        <option *ngFor = "let item of resultadoPersonal" value="{{item.personal}}" >{{item.nombre}}  {{item.apellido}}
                        </option>
                     </select>
                    </div>
                    <div class="form-group">
                      <label for="formGroupExampleInput">Grado</label>
                      <select  id="sel" (change)="getGradoN($event.target.value)" class="form-control">
                        <option *ngFor = "let item of resultadoGrado" value="{{item.grado}}" >{{item.nombre_grado}}
                        </option>
                     </select>
                    </div>
                    <div class="form-group">
                      <label for="formGroupExampleInput">Ciclo</label>
                      <select  id="sel" (change)="getCicloN($event.target.value)" class="form-control">
                        <option *ngFor = "let item of resultadoCiclo" value="{{item.ciclo}}" >{{item.anio}}
                        </option>
                     </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal" (click)="CreateSeccion()">Guardar</button>
            </div>
        </div>
        </div>
    </div>